
<div class="container-fluid ">
    <div style="top:20px;" class="app-content content">
     
     <div class="col-md-6 col-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title">insert Patien</h4>
                                    </div>
                                    <div class="card-content">
                                        <div class="card-body">
                                            <form class="form form-vertical" (ngSubmit)="insertDossier()">
                                                <div class="form-body">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <div class="form-group">
                                                                <label for="first-name-vertical">date</label>
                                                                <input type="date"  class="form-control" [(ngModel)]="dossier.date" name="date" placeholder="codep">
                                                            </div>
                                                        </div>
                                                        <div class="col-12">
                                                            <div class="form-group">
                                                                <label for="email-id-vertical">description</label>
                                                                <input type="text"  class="form-control" [(ngModel)]="dossier.description" name="description" placeholder="Email">
                                                            </div>
                                                        </div>
                                                        
                                                        <div class="col-12">
                                                            <label>medecin</label>
                                                            <select name="medecin.id"  [(ngModel)]="dossier.medecin.id" class="input w-full border mt-2" style=" border: 2px solid #ddd;padding: 10px 10px;" >
                                                                <option value="legal">select</option>
                                                                <option *ngFor="let emp of medecins " value="{{emp.id}}">{{emp.nom}} {{emp.prenom}}</option>
                                                            </select>
                                                        </div><br>
                                                        <br>
                                                        <br>
                                                        <br>
                                                        <div class="col-12">
                                                            <label>patien</label>
                                                            <select name="patien.id"  [(ngModel)]="dossier.patien.id" class="input w-full border mt-2" style=" border: 2px solid #ddd;padding: 10px 10px;" >
                                                                <option value="legal">select</option>
                                                                <option *ngFor="let emp of patiens " value="{{emp.id}}">{{emp.nom}} {{emp.prenom}}</option>
                                                            </select>
                                                        </div><br>
                                                        
                                                        <br>
                                                        <br>
                                                        <br>
                                                        
                                                        
                                                       <div class="alert alert-success" *ngIf='message !="" ' role="alert">
                                                            <p class="mb-0">
                                                            {{ message }}
                                                            </p>
                                                        </div>
                                                        <div class="col-12">
                                                            <input type="submit" class="btn btn-primary mr-1 mb-1" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
    
          </div>
          
                                </div>
    